name: Test model speed

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
          - camera1  # artpec7 Q1615 Mk III
          - camera2  # artpec8 Q1656-LE
          - camera3  # CV25 M3085-V
          - camera4  # artpec8 P1465-LE
          - camera5  # artpec9 Q1728

    env:
      EXREPO: auto-test-framework
      EXNAME: larod-test
      EAPNAME: larod_test
    steps:
      - uses: actions/checkout@v6

      - name: Reboot device to clear logs
        run: |
          echo "Rebooting device"
          curl --silent --show-error -u root:"${{secrets.DEVICE_PASSWORD}}" --data '{"apiVersion": "1.5", "method": "reboot"}' "http://${{secrets.DEVICE_IP}}/${{matrix.arch}}/axis-cgi/firmwaremanagement.cgi" > /dev/null

          echo "Waiting for device to be ready"
          ready="no"
          until [ "$ready" = "yes" ]; do
            sleep 5

            echo "Device not ready yet"

            RESPONSE=$(curl --silent --show-error --data '{"apiVersion": "1.4", "method": "systemready", "params": { "timeout": 20 }}' "http://${{secrets.DEVICE_IP}}/${{matrix.arch}}/axis-cgi/systemready.cgi")

            if echo "$RESPONSE" | grep -q "<html>"; then
              ready="no"
            else
              ready=$(echo "$RESPONSE" | jq -r '.data.systemready')
            fi
          done

          echo "Device is ready"

      - name: Disable Motion Adaptive Exposure setting
        run: |
         set_mae=$(curl --silent --show-error -u root:"${{secrets.DEVICE_PASSWORD}}" "http://${{secrets.DEVICE_IP}}/${{matrix.arch}}/axis-cgi/param.cgi?action=update&ImageSource.I0.Sensor.MotionAdaptiveExposure=off")
         get_mae=$(curl --silent --show-error -u root:"${{secrets.DEVICE_PASSWORD}}" "http://${{secrets.DEVICE_IP}}/${{matrix.arch}}/axis-cgi/param.cgi?action=list&group=ImageSource.I0.Sensor.MotionAdaptiveExposure")
         if [[ $get_mae == "ImageSource.I0.Sensor.MotionAdaptiveExposure=on" ]]; then
           echo "Error could not update Motion Adaptive Exposure parameter"
         else
           echo "Motion Adapative Exposure disabled"
         fi

      - name: Build ${{ env.EXNAME }} application
        env:
          imagetag: ${{ env.EXREPO }}_${{ env.EXNAME }}:1.0
        run: |
          cd scripts/auto-test-framework/$EXNAME
          if [[ "${{ matrix.arch }}" == "camera1" ]]; then
            export device=artpec7
          elif [[ "${{ matrix.arch }}" == "camera2" ]]; then
            export device=artpec8
          elif [[ "${{ matrix.arch }}" == "camera3" ]]; then
            export device=cv25
          elif [[ "${{ matrix.arch }}" == "camera4" ]]; then
            export device=artpec8
          elif [[ "${{ matrix.arch }}" == "camera5" ]]; then
            export device=artpec9
          else
            echo "Unknown matrix.arch value"
            exit 1
          fi
          DOCKER_BUILDKIT=1 docker build --no-cache --tag $imagetag --build-arg device=$device .
          docker cp $(docker create $imagetag):/opt/app ./build


      - name: Upload the application to the camera
        env:
          eapfile: ${{ env.EAPNAME }}_1_0_0_all.eap
        run: |
          cd scripts/auto-test-framework/$EXNAME/build
          curl --silent --show-error -F packfil=@${eapfile} -u root:"${{secrets.DEVICE_PASSWORD}}" "http://${{secrets.DEVICE_IP}}/${{matrix.arch}}/axis-cgi/admin/applications/upload.cgi"


      - name: Start the application
        run: |
          curl --silent --show-error -u root:"${{secrets.DEVICE_PASSWORD}}" "http://${{secrets.DEVICE_IP}}/${{matrix.arch}}/axis-cgi/applications/control.cgi?action=start&package=$EAPNAME"


      - name: Read application log
        run: |
          while true; do
            sleep 1
            result=$(curl --silent --show-error -u root:"${{secrets.DEVICE_PASSWORD}}" http://${{secrets.DEVICE_IP}}/${{matrix.arch}}/axis-cgi/admin/systemlog.cgi?appname=$EAPNAME)
            if [[ $result == *"Done"* ]]; then
              echo "saving output to file "
              echo $result > /tmp/larod_out.txt
              break
            fi
          done


      - name: Parse the results and update README
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git config pull.rebase true
          log=$(cat /tmp/larod_out.txt)
          echo $log | grep "Testing"

          RET=1
          until [ ${RET} -eq 0 ]; do

            git pull
            python3 ./scripts/auto-test-framework/readme_update.py
            git add README.md
            if git commit -m "Updating test results" | grep -q 'nothing to commit, working tree clean'; then
              echo "Nothing to commit :)"
              RET=$?
            else
              set +e
              git push
              RET=$?
              set -e
            fi
            sleep 5
          done


      - name: Stop the application
        run: |
          curl --silent --show-error -u root:"${{secrets.DEVICE_PASSWORD}}" "http://${{secrets.DEVICE_IP}}/${{matrix.arch}}/axis-cgi/applications/control.cgi?action=stop&package=$EAPNAME"


      - name: Remove the application
        run: |
          curl --silent --show-error -u root:"${{secrets.DEVICE_PASSWORD}}" "http://${{secrets.DEVICE_IP}}/${{matrix.arch}}/axis-cgi/applications/control.cgi?action=remove&package=$EAPNAME"
